/* App.css */

.genre-nav {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px;
  border-bottom: 2px solid #444;
}

.genre-nav button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 5px;
}

.genre-nav button:hover {
  background-color: #555;
  transform: scale(1.05);
}

.genre-nav button:active {
  background-color: #666;
  transform: scale(1.02);
}
